<div class="columns">
  <div class="column is-8">
    <h1 class="title is-2 has-text-grey discussion-title"><%= @post.title %></h1>
    <h3 class="subtitle is-5 has-text-grey-lighter">by <%= @post.user.email %></h3>
    <div class="level">
    <strong>Content: <%= @post.body %></strong>
      <div class="level-left"></div>
      <div class="level-right">
        <% if post_author(@post) %>
        <div class="buttons">
            <%= link_to 'Edit', edit_post_path(@post), class:'button'%>
            <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Delete post?" }, class:'button' %>
        </div>
        <% else %>
          <div class="buttons">
            <%= link_to 'Edit', edit_post_path(@post), class:'button'%>
        </div>
        <% end %>
      </div>
    </div>
    <h3><strong>Tags: </strong><%= @post.tags %></h3>
    <br/>
    <h2 class="subtitle is-5 has-text-grey"><%= @post.comments.count %> Comments </h2>

    <div id="discussion-replies">
      <%= render @post.comments %>
    </div>

    <hr />

    <h3 class="subtitle is-3 has-text-grey">Leave a Comment</h3>
    <% if user_signed_in? %>
      <%= render 'comments/form' %>
    <% else %>
    <p>To reply you need to <%= link_to 'login', new_user_session_path %>. Don't have an account?
      <%= link_to 'Sign up', new_user_registration_path %> for one.</p>
    <% end %>

  </div>
</div>